*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(149, 207, 207) 0%, rgb(99, 99, 58) 100%);

}
.todo{
    margin: 200px auto;
    max-width: 400px;
    width: 100%;
    background: rgb(240, 235, 235);
    padding: 20px;
    min-height: 400px;
}

.todo header{
    font-size: 40px;
    font-weight: 800;
}

.todo .takeInput{

    margin-top: 17px;
    margin-bottom: 10px;
    
    
}



.box{
    margin-left: 20px;
    width: 250px;
    height: 40px;
    
    border-radius: 2px;
}

.add{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.add:hover {
    background: rgb(68, 224, 68);
    cursor: pointer;
    transition: 0.5s ;
}

.clear_all{
    margin-top: 300px;
    margin-left: 250px;
    background-image: white;
}


.clr_btn{
    width: 80px;
    height: 30px;
    cursor: pointer;
}
.clr_btn:hover{
    background: rgb(187, 98, 98);
}

/* .btnn{
    width: 30px;
    height: 32px;
}
.btnn:hover{
    cursor: pointer;
    background: rgb(187, 98, 98);
} */

