*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(149, 207, 207) 0%, rgb(99, 99, 58) 100%);

}
.todo{
    margin: 200px auto;
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 20px;
    min-height: 400px;
}

.todo header{
    font-size: 40px;
    font-weight: 800;
}

.todo .takeInput{

    margin-top: 15px;
    margin-bottom: 10px;
    
}

.tasklist .list {
    
    margin: 7px 20px;
}

.box{
    margin-left: 20px;
    width: 250px;
    height: 40px;
}

.add{
    width: 38px;
    height: 40px;
}

.add:hover {
    background: rgb(22, 138, 22);
    cursor: pointer;
}
